<div class="login-container"> 
  <h2> LOGIN </h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" ngModel required>
  
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" ngModel required>
  
      <button type="submit">Login</button>
      <p> no account yet ? <a routerLink="/register">Register here </a></p>

      <div *ngIf="errorMessage" class="error-message" >
        {{ errorMessage }}
      </div>

    </form>
</div>


