app-sidebar{
    position: absolute;
    left: 0rem;
    width: 40px;
    height: calc(100vh - 4rem);
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 1);
    background-color: rgba(34, 34, 34, 1);
    border-top: 1px solid white;
    overflow-x: hidden;
    white-space: nowrap;
    transition: width 250ms ease-in;
}

.app-side-nav-open{
    width: 250px;
}

app-todo {
    width: calc(100%-250px);
    left: 250px;
}